$nav-bar-width: 300px;
$message-header-height: 120px;
$message-form-height: 80px;

$door-dash-red: #ff002c;
$white: white;
$hover-brown: #6d0017;
$gray-bg: #ebedef;
$light-gray: lightgray;
$button-blue: #3878de;

$z-index-level-1: 1;
