$nav-bar-width: 300px;
$message-header-height: 120px;
$message-form-height: 80px;

$door-dash-red: #ff002c;
$white: white;
$hover-brown: brown;
$gray-bg: #f7f7f7;
$light-gray: lightgray;

$z-index-level-1: 1;
