@import "./sass/variables";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.chat-container {
  display: flex;
  width: 100%;
  height: 100%;

  .selection-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: $light-gray;
    width: 100%;
  }
}

input {
  font-size: 26px;
  outline: none;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid $light-gray;
  box-shadow: inset 0 0 2px 0 $light-gray;
  font-weight: 200;
}

@import "./sass/button";
@import "./sass/nav-bar";
@import "./sass/messenger";
@import "./sass/login";
